* { 
    box-sizing: border-box;
} 


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
}


*:focus {
    outline: solid 2px #FF7500;
    outline-offset: 3px;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.site-header-contariner {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.header-site {
    border-top: #FF7500 solid 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    
    background-color: #fff;
}

.site-nav-socials {
    display: flex;
    align-items: center;
    padding: 0;
}

.site-nav-list {
    padding-left: 100px;
    display: flex;
    
    list-style: none;
    margin: 0;
}

.site-nav-list {
    display: flex;
    align-items: center;
    gap: 24px; /* orasida joy */
}

.sitnav-item {
    margin-right: 12px;
}


.header-site {
    background-color: #ffffff;
}

.logo-link {
    transition: opacity 0.4s ease;
    
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}



.site-nav {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease,
    opacity 0.2s ease;
    margin: 0;
}

.site-nav:hover {
    color: #FF7500; 
}

.site-nav:active {
    opacity: 0.6;
}

.hero-site {
    padding-top: 80px;
    padding-bottom: 80px; 
    background-color: #252420;
    color: #fff;
    margin-top: 0;
    margin-bottom: 24px;
}

.feature-wrapper{
    margin-bottom: 30px;
    margin-top: 0;
}


.hero-container {
   display: flex;
    justify-content: space-between;
    align-items: center; 
}

.site-feature {
    background-color: #fff;
    color: #000;
    padding: 0;
}

.main-button {
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;
}

.main-button:hover {
    opacity: 0.8;
}

.main-button:active {
    opacity: 0.6;
}

.hero-content {
    width: 390px;
}
.phyt-book {
    width: 410px;
    height: 410px;
}
.phyt-text{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    
}

.phyt-text{
    margin: 0;
    margin-bottom: 32px;
}

.phyt-texts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.feature-info{
    margin: 0;
}


.site-feature {
    gap: 15px;
    padding-top: 210px;
    padding-bottom: 210px;
}

.features-right {
    display: flex;
    margin-right: 40px;
    margin-left: 86px;
    margin: 0;
}

.features-right:last-child {
    margin-right: 0;
}

.orange-line {
    border: none;
    width: 80px;
    height: 2px;
    background-color: #FF7500;
    margin: 0;
    margin-bottom: 40px;
}

.feature-heading {
    width: 435px;
    font-size: 70px;
    line-height: 1;
    letter-spacing: 0.5;
    margin-top: 0;  
    margin-bottom: 72px;
}

.feature {
    display: flex;
    width: 345px;   
    margin-right: 85px;
}


.feature-title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
.feature-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}



.promo-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    border-radius: 12px;
    background-color: #252420;
    color: #fff;
}

.promo-content {
    width: 440px;
}

.promo-heading {
    font-size: 50px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 24px;
}

.promo-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
}

.promo-highlights {
    color: #FF7500;
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
    object-position: right center;
}

.logo-link:hover {
    color: #FF7500;
}

.logo-link:active {
    opacity: 0.6;
}

.site-footer li {
    list-style: none;
}

.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.site-footer-socials {
    text-decoration: none;
    color: #252420;
    padding: 0;
}

.site-footer-socials {
    margin-right: 16px;
    
}



.site-footer-socials:hover {
    color: #FF7500;
} 

.site-footer-socials:active {
    opacity: 0.6;
} 

.site-footer-social:active {
    opacity: 0.6;
}

.site-footer-links a {
    text-decoration: none;
}

.site-footer-links li {
margin-bottom: 16px;
}

.site-footer-links li:last-child  {
   margin-bottom: 0; 
} 

.site-footer-links {
    width: 224px;
}

.site-footer-columns {
    display: flex;
    gap: 60px;          /* ustunlar orasidagi masofa */
    flex-wrap: wrap;    /* kichik ekranlarda pastga tushishi uchun */
}

.siter-footer-logos {
    display: flex;
    justify-content: flex-end;
}

.site-footer-links a {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    margin-right: 30px;
}

.site-footer-links a:hover {
    color: #FF7500;
}

.site-footer-links a:active {
    opacity: 0.6;
}

.site-footer-divider {
    border: 0;
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
    margin-top: 40px;
    margin-bottom: 64px;
}