.header-site {
    background-color: #ffffff;
}

.site-nav {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.hero-site {
    background-color: #252420;
    color: #fff;
}

.site-feature {
    background-color: #fff;
    color: #000;
}

.main-button {
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #fff;
    text-decoration: none;
    
}
.hero-content {
    width: 390px;
}
.phyt-book {
    width: 410px;
    height: 410px;
}
.phyt-text{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.phyt-texts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


.orange-line {
    width: 80px;
    height: 2px;
    background-color: #FF7500;
}

.feature-heading {
    width: 435px;
    font-size: 70px;
    line-height: 1;
    letter-spacing: 0,5px;
}
